.note{
  background-color: #faffa5;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 1rem;
  min-height: 18.7rem;
  width: 18.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.note-footer{
  display: flex;
  //align-items: center;
  //justify-content: space-between;
  align-items: flex-end;
  flex-direction: column;
}