.note.new{
  background-color: aquamarine;
}

textarea{
  border: none;
  resize: none;
  background-color: aquamarine;
}

textarea:focus{
  outline: none;
}

.save{
  background-color: white;
  border: none;
  border-radius: 15px;
  padding: 5px 10px;
}
.save:hover{
  background-color: #ecebeb;
}