.note.new{
  background-color: #bababa;
  width: 93rem;
  min-height: 13rem;
}

textarea{
  border: none;
  resize: none;
  background-color: white;
}

textarea:focus{
  outline: none;
}